:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.app-logo img {
    max-width: 5em;
    height: auto;
    display: block;
}